@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');
/* font-family: 'IBM Plex Sans', sans-serif; */

$color1:#646464;
$color2: #dfdfdf;
$color3: #1d1d1d;
$color4: #202020;
$color5: #000000;
$colorHover: #ffffff;


$fontSizeMain: 30px;


@mixin sectionColor($bgColor,$colorFont){
    background-color: $bgColor;
    color: $colorFont;
}

@mixin flexCenter(){
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
}

*{
    font-family: 'IBM Plex Sans', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

::-webkit-scrollbar {
    width: 12px;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 7px;
    margin: 5px;
  } 
  
  html{
    scroll-behavior: smooth;
    scroll-margin-block-end: 10px;
}
.navbar-collapse{
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    font-weight: bold;
    .nav-link{
        text-decoration: none;
        position: relative;
        display: inline-block;
        padding: 0px 40px !important; 
        &::after{
            content: '';
            position: absolute;
            width: 30%;
            height: 1.5px;
            bottom: -2px;
            left: 30px;
            background-color: $color5;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.4s ease-out;
        }
        &:hover::after{
            color:$color5;
            visibility: visible;
            transform: scaleX(1);
        }
    }
}
.nav-container{
    position: sticky;
    width: 100%;
    top: -18px;
    z-index: 4;
    .navbar{
        min-height: 100px;
        background-color: $color2;
        display: flex;
        .nav-bar-logo{
            width: 60px;
            height: auto;
            justify-self: center;
            padding: 0px 30px;
            box-sizing: content-box;
        }  
    }
}

.main-container{
    background-color: $color1 ;
    @include flexCenter();
    min-height: 100vh;
    color: $color2;
    font-size: $fontSizeMain;
    font-family: 'IBM Plex Sans', sans-serif;
    .main{
        @include flexCenter();
        width: 60%;
        padding: 60px 20px;
        .text-field {
            max-width: 500px;
            min-width: 100px;
            justify-self: right;
        }
        .img{
            justify-self: start;
        }
        .fotoCv{
            object-fit: cover;
            width: 400px;
            height: 400px;
            padding: 30px;
            border-radius: 50%;
        }
    }
}

.footer-container{
    @include flexCenter();
    background-color: $color3;
    min-height: 500px;
    font-size: 25px;
    .footer{
        width: 60%;
        padding: 80px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        color: #808080;
        div{
            @include flexCenter();
            justify-content: start;
            flex-direction: column;
            width: auto;
            height: auto;
            padding: 25px 0px;
        }
        i{
            padding: 5px 10px;
            transition: 0.2s;
            &:hover{
                color: $colorHover;
                .contact-data{
                    a{
                        color: $colorHover;
                    }
                }
            }
        }
        h2{
            color: $colorHover
        }
        .contact-data{
            padding: 0px 10px;
            font-size: 18px;
            a{
                text-decoration: none;
                color: #808080;
                &:hover{
                    color: $colorHover;
                }
            }

        }

    }
}
.contact-map{
    width: 300px;
    min-width: 100px;
    height: 300px;
    min-height: 100px;
}

.skills-container{
    // display: grid;
    // align-items: center;
    // justify-content: center;
    // justify-items: center;
    // grid-template-columns: repeat(4,1fr);
    // width: 80%;
    .div-img-skills{
        display: flex;
        justify-content: center;
        .img-skills{
            object-fit: contain;
            width: 200px;
            height: 200px;
            border: 0px;
            border-radius: 100%;
            padding: 20px;
            margin: 0px;
            transition: 0.5s;
            &:hover{
                transform: scale(1.05);
            }
        }

    }
}


.subir{
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 30px;
    text-decoration: none;
    color: hwb(0 69% 31%);
    transition: 0.2s;
    &:hover{
        color: $colorHover;
    }
}

.section-container{
    @include flexCenter();
    flex-direction: column;
    justify-content:space-evenly;
    font-size: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
    color:$color2;
    section{
        @include flexCenter();
        padding: 200px 0px 250px;
        p{
            max-width: 600px;
            padding: 0px 60px;
        }
        ul{
            max-width: 600px;
            padding: 0px 60px;
        }
        .img-sobreMi{
            padding: 0px 10px;
            object-fit: cover;
            width: 400px;
            height: 400px;
            border-radius: 100%;
        }     
    }
}
.sobre-mi-presentacion{
    @include sectionColor($color1,$color2) 
}
.sobre-mi-educacion{
    @include sectionColor(#A8A8A8,$colorHover) 
}
.sobre-mi-tiempoLibre{
    @include sectionColor(#6B6B6B,$color2) 
}
.sobre-mi-aspiraciones{
    @include sectionColor(#C2C2C2,$color5) 
}

.education{
    li{
        padding: 15px 0px;
    }
}

.main-protectos{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 250px;
    .titulo{
        padding: 40px;
    }
    .carousel{
        width: 70%;
        color: $color5 !important;
        max-height: auto;
        .d-block{
            width: 80%;
            height: 700px;
            object-fit: cover;
        }

        .carousel-caption{
            background-color: #00000047;
            backdrop-filter: blur(3px);
            border-radius: 10px;
            font-size: 18px;
            padding: 20px;
            h2{
                font-size: 25px
            }
        }
    }
}



.main-contacto{
    @include flexCenter();
    width: 60%;
    .form-container{
        width: 100%;
        form{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: space-around;
            input{
                max-width: 200px;
                height: 30px;
                font-size: 15px;
            }
            textarea{
                max-width: 500px;
                height: 200px;
                min-width: auto;
                border-radius: 2px;
                border:none;
                margin-top: 20px;
                font-size: 15px;
            }
            button{
                max-width: 150px;
                height: 70px;
                font-size: 20px;
                font-weight:500;
                border:none;
                background-color:$color3;
                color: white;
                margin: 20px 0px;
                transition: .5s ease-out;
                i{
                    font-size: 18px;
                    color: white;
                    padding: 10px;
                    transition: .75s ease-out;
                }
                &:hover{
                    background-color: #494949fa;
                    border-radius: 30px;
                    i{
                        transform: translate3d(5px,-5px,0px)
                    }
            }

            }
        }
    }
}








@media (max-width: 1600px) {
    .main{
        width:70%;
    }
    .footer{
        width:70%;
    }
  }
  @media (max-width: 1400px) {
    .main{
        width:80%;
    }
    .footer{
        width:80%;
    }
  }
  @media (max-width: 1200px) {
    .main{
        width:90%;
    }
    .footer-container{
        .footer{
            width:90%;
            padding: 80px 40px;
        }    
    }
    // .skills-container{
    //     grid-template-columns: repeat(3,1fr);
    // }
    .navbar-collapse{
        justify-content: flex-start;
    }

  }

  @media (max-width: 1000px) {
    .main{
        width:97%;
    }
    .footer-container{
        .footer{
            width:97%;
        }    
    }
    // .skills-container{
    //     grid-template-columns: repeat(2,1fr);
    // }
    .main-contacto{
        width: 70%;
    }
    .contact-map{
        width: 200px;
        height: 200px;
        
    }
    .main-protectos{
        .carousel{
            width: 97%;
            .d-block{
                width: 100%;
                height: 400px;
                object-fit: contain;
            }

        }
    }

  }

    @media (max-width: 600px) {
        .main{
            font-size: 20px;
        }
        h1{
            font-size: 25px;
        }
        .fotoCv{
            width: 300px;
            height: 300px;
        }
        .section-container{
            section{
                padding: 100px 0px 150px;
            }
        }
        .section-container{
            section{
                .text-field{
                    font-size: 20px;
                }
            }  
        }
        .section-container{
            section{
                .img-sobreMi{
                    width: 300px;
                    height: 300px;
                }
            }  
        }
        // .skills-container{
        //     width: 97%;
        //     grid-template-columns: repeat(1,1fr);
        // }
        .main-contacto{
            width: 95%;
        }
        .carousel{
            width: 95%;
        }
        .subir{
            bottom: 5px;
            right: 3px;
        }
  }
